input[type="checkbox"] {
    width: 2rem;
}


.suggestion-table td{
    text-align: left;
    padding-left: 3.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: top;
}

.curriculum-wrap{
    display: flex;
    margin-top: 5%;
}
.curriculum-wrap__word{
   margin-right: 2rem; 
}
.curriculum-table tr td {
    border: 1px solid black;
}
.curriculum-table th{
    border: 1px solid black;
    background-color: #DCE6FF;
    padding: 0.3rem 0;
}
.curriculum-table td{
    padding-right: 3rem;
}
