header{
    background-color: #1E96D2;
    height: 3.2rem;
    width: 100%;
}
.header-img{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.header-img-items{
 padding: 1.1rem;
}
.header-img-items a{
    color: white;
    text-decoration: none;
}
.header-img-logo1{
    padding: 0.5rem;
    margin-left: 2rem;
}
.header-img-logo2{
    padding: 0.7rem;
    margin-right: 2rem;
}
.header-img-logo3{
    padding: 0.1rem;
}