header{
    background-color: #1E96D2;
    height: 3.2rem;
    width: 100%;
}
.header-section{
    display: flex;
    justify-content: space-between;
}
.header-section h2{
    padding: 0.5rem;
    margin-left: 3rem;
}
.header-img{
    display: flex;
    width: 20%;
}
.header-img-logo1{
    padding: 0.7rem;
    margin-right: 2rem;
}
.header-img-logo2{
    padding: 0.1rem;
}
.nav-section{
    height: 2.2rem;
    width: 8%;
    margin-top: 0.2rem;  
    text-align: center;
}
.nav-section h2{
 padding-top: 0.5rem;
}

.nav-section h2:hover{
    color: white;
    background-color: #1E96D2;
     vertical-align: middle;
    height: 2.0rem;
}
main{
    margin:5% auto;
    width: 100%;
}
.main-section{
    text-align: center;
    margin: auto;
}

.main-section h2{
   color:  #1E96D2;
   margin-bottom: 3rem;
}
.login-contents-id{
    margin-bottom: 2rem;
    }
.login-contents-id label{
margin-right: 2rem;
}
.login-contents-password label{
    margin-right: 2.1rem;
}
.login-contents-button{
    margin-top: 2rem;
}

.login-contents-button input{
   padding: 0.5rem 2.0rem;
   background-color: #289614;
   color: white;
   border: none;
}
